/* @theme anhembi */

@import-theme 'default';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@477&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
@import url('https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css');

$color: #00ac8d;

section {
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        height: 8px;
        display: block;
        width: 100%;
        content: '';
    }

    font-family: 'Montserrat',
    sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Sora', sans-serif;
    }

    h1 {
        color: $color;
    }

    header {
        font-size: 20px;
    }

    &.center * {
        text-align: center;
    }

    &.lead {
        background-color: $color;
        color: white;

        * {
            color: white;
            font-weight: bold;
            text-align: center;
        }

        header,
        footer {
            display: none;
        }

        &::after {
            color: white;
        }
    }

    &.first {
        background-image: url(https://raw.githubusercontent.com/mcf1110/marp-themes/master/anhembi/img/big-logo.svg);
        background-size: 525px;
        background-repeat: no-repeat;
        background-position: 123% center;

        h1 {
            max-width: 85%;
        }

        h3 {
            margin-top: 0;
            font-size: 1rem;
        }

        header {
            font-size: 0;
            height: 70px;
            width: 300px;
            background-image: url(https://raw.githubusercontent.com/mcf1110/marp-themes/master/anhembi/img/logo.svg);
            background-repeat: no-repeat;
        }

        &:after {
            display: none;
        }
    }

    &.cols {

        ul,
        ol {
            display: grid;
            grid: auto / 1fr 1fr;
            grid-gap: .25rem 3rem;

            li {
                margin: 0 !important;
            }
        }

    }

    code.language-bash {
        background: #111;
        color: white;
        display: block;
        margin: -1em;
        padding: 1em;
        border-top: 1em solid #BBB;
        border-radius: 1em;
        position: relative;
        box-shadow: 0 .25em 1rem rgba(0, 0, 0, .4);

        &:after {
            background: red;
            width: .75em;
            height: .75em;
            content: '';
            display: block;
            position: absolute;
            right: .5em;
            top: -.8em;
            border-radius: 50%;
        }
    }

    img.emoji {
        display: inline-block;
    }

    .katex * {
        border-color: black;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    ol ol {
        list-style: lower-alpha !important;
    }
}